<div id="bg1" class="content1 paralax">
  <video
    id="bgVideo"
    src="../../../../assets/videos/video01.mp4"
    muted
    autoplay
    loop
  ></video>
  <p>
    NWW
  </p>
  <a href="#">
    saiba mais
    <i class="fa fa-arrow-right"></i>
  </a>
</div>
<div class="content2">
  <p>
    FISE
  </p>
  <a href="#">
    saiba mais
    <i class="fa fa-arrow-right"></i>
  </a>
</div>
<div class="content3 paralax" appParallax [opacity]="true">
  <div class="box-left">
    <h2>Stroke</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum ex libero
      adipisci, vel esse similique voluptatum consequuntur qui repudiandae dolor
      debitis molestiae assumenda magni itaque accusamus atque aut laudantium
      maiores?
    </p>
    <div class="btn-know-more">
      <a href="#">
        saiba mais 
        <i class="fa fa-arrow-right"></i>
      </a>
    </div>
  </div>
  <div class="box-right">
    <div class="container">
      <ul>
        <li>
          <input type="radio" class="form-radio" name="slide" checked />
          <div class="slide">
            <img src="../../../assets/img/stroke/stroke01.jpg" alt="" />
            <div class="content">
              <div class="content-item">
                <h2>STROKE</h2>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Tempora reiciendis dignissimos aliquam molestiae, tenetur
                  repudiandae odio unde quasi blanditiis. Nesciunt recusandae
                  sit sequi molestias autem odit accusamus laboriosam qui porro!
                </p>
              </div>
            </div>
          </div>
        </li>

        <li>
          <input type="radio" class="form-radio" name="slide" />
          <div class="slide">
            <img src="../../../assets/img/stroke/stroke03.jpg" alt="" />
            <div class="content">
              <div class="content-item">
                <h2>STROKE Slide two</h2>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Tempora reiciendis dignissimos aliquam molestiae, tenetur
                  repudiandae odio unde quasi blanditiis. Nesciunt recusandae
                  sit sequi molestias autem odit accusamus laboriosam qui porro!
                </p>
              </div>
            </div>
          </div>
        </li>

        <li>
          <input type="radio" class="form-radio" name="slide" />
          <div class="slide">
            <img src="../../../assets/img/stroke/stroke04.jpg" alt="" />
            <div class="content">
              <div class="content-item">
                <h2>STROKE Slide three</h2>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Tempora reiciendis dignissimos aliquam molestiae, tenetur
                  repudiandae odio unde quasi blanditiis. Nesciunt recusandae
                  sit sequi molestias autem odit accusamus laboriosam qui porro!
                </p>
              </div>
            </div>
          </div>
        </li>

        <li>
          <input type="radio" class="form-radio" name="slide" />
          <div class="slide">
            <img src="../../../assets/img/stroke/stroke06.jpg" alt="" />

            <div class="content">
              <div class="content-item">
                <h2>STROKE Slide four</h2>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Tempora reiciendis dignissimos aliquam molestiae, tenetur
                  repudiandae odio unde quasi blanditiis. Nesciunt recusandae
                  sit sequi molestias autem odit accusamus laboriosam qui porro!
                </p>
              </div>
            </div>
          </div>
        </li>

        <li>
          <input type="radio" class="form-radio" name="slide" />
          <div class="slide">
            <img src="../../../assets/img/stroke/stroke07.jpg" alt="" />

            <div class="content">
              <div class="content-item">
                <h2>STROKE Slide five</h2>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Tempora reiciendis dignissimos aliquam molestiae, tenetur
                  repudiandae odio unde quasi blanditiis. Nesciunt recusandae
                  sit sequi molestias autem odit accusamus laboriosam qui porro!
                </p>
              </div>
            </div>
          </div>
        </li>

        <li>
          <input id="radio-one" type="radio" class="form-radio" name="slide" />
          <div class="slide">
            <img src="../../../assets/img/stroke/stroke08.jpg" alt="" />

            <div class="content">
              <div class="content-item">
                <h2>STROKE Slide four</h2>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Tempora reiciendis dignissimos aliquam molestiae, tenetur
                  repudiandae odio unde quasi blanditiis. Nesciunt recusandae
                  sit sequi molestias autem odit accusamus laboriosam qui porro!
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="content4 paralax">
  <p>
    CITYLEAKS ARTFAIR
  </p>
  <a href="#">
    saiba mais
    <i class="fa fa-arrow-right"></i>
  </a>
</div>
<div class="content5">
  <div class="content-item">
    <a href="">
      <div class="content-a">
        <h2>About North West Walls</h2>
        <p>
          The North West Walls have been a striking feature of the Festivalpark
          in Werchter (Belgium) since 2014. Rock Werchter has shown that art has
          its place at a music festival and that it works. North West Walls has
          lent the festival fabulous artistic allure. As art projects go, this
          is a highly ambitious one. North West Walls is a mark on the landscape
          that can be admired long after the festival period has ended. It is a
          permanent installation. But then again it is not. Because it looks
          different every year.Under the curatorship of Arne Quinze, the North
          West Walls are brought to life by a new set of street artists every
          year. Arne Quinze has invited seven massive talents for North West
          Walls 2019: Sckaro (France), Zenk One (Netherlands), Francisco
          Bosoletti (Argentina), Milu Correch (Argentina), Julia Volchkova
          (Russia), Charlotte De Cock (Belgium) & Miss Me (Canada).
        </p>
      </div>
    </a>
  </div>
</div>
<div class="content6 paralax"></div>

<div class="footer-home">
  <div class="footer-top"></div>
  <div class="footer-content">
    sprayart@gmail.com
  </div>
</div>
