* {
  height: 100vh;
  color: #000;
}

.container-home {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.paralax {
  background-size: cover;
  background-color: #fff;
  z-index: -1;
  opacity: 1;
}

.content1 {
  position: relative;
  left: 0;
  top: 0;
  // background-image: url('../../../../assets/img/nww/nww10.jpg');
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-size: 2em;
  justify-content: center;
  color: -webkit-linear-gradient(0deg, #e0819c, #ff0048, #b033c0, #1e013a);
  background-attachment: fixed;
  width: 100vw;
  z-index: 0;
  video {
    height: 100vh;
    width: 100%;
    object-fit: fill;
    position: absolute;
  }

  iframe {
    position: fixed; // Play the video in full screen mode
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    filter: opacity(60%);
    transform: translateX(0%) translateY(0%);
    z-index: -1; // Put the video behind all other elements
  }

  p {
    z-index: 1;
    background: transparent;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: auto;
    font-size: 7em;
    font-weight: 800;
    font-stretch: ultra-condensed;
    background: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a {
    height: 50px;
    width: 250px;
    z-index: 1;
    color: white;
    border: solid 1px white;
    text-align: center;
    background: transparent;
    cursor: pointer;
    border-radius: 10px;

    i {
      color: #fff;
    }
  }
  a:hover {
    background: #fff;
    color: #000;

    i {
      color: #000;
    }
  }
}

.content2 {
  display: flex;
  background-image: url('../../../../assets/img/stroke/stroke04.jpg');
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-size: 2em;
  justify-content: center;
  p {
    z-index: 1;
    background: transparent;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: auto;
    font-size: 7em;
    font-weight: 800;
    font-stretch: ultra-condensed;
    background: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a {
    height: 50px;
    width: 250px;
    z-index: 1;
    color: white;
    border: solid 1px white;
    text-align: center;
    background: transparent;
    cursor: pointer;
    border-radius: 10px;

    i {
      color: #fff;
    }
  }
  a:hover {
    background: #fff;
    color: #000;

    i {
      color: #000;
    }
  }
}

.content3 {
  display: flex;
  z-index: 0;
  .box-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2 {
      color: #eb2ab8;
      font-size: 7em;
      font-weight: 900;
      font-stretch: ultra-condensed;
      font-style: normal;
      text-decoration: none;
      text-transform: uppercase;
      text-align: left;
      height: auto;
      margin-left: 10%;
    }

    p {
      color: #5f5d5d;
      text-align: left;
      height: auto;
      margin: 0 10%;
    }

    .btn-know-more {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        height: 50px;
        width: 250px;
        z-index: 1;
        color: #eb2ab8;
        border: solid 1px #eb2ab8;
        text-align: center;
        background: transparent;
        cursor: pointer;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: x-large;

        i {
          color: #eb2ab8;
          height: auto;
          margin-left: 2px;
        }
      }
      a:hover {
        background: #eb2ab8;
        color: #fff;
        text-decoration: none;
        i {
          color: #fff;
        }
      }
    }
  }

  .box-right {
    width: 50%;
    padding-top: 5%;
    .container {
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin: 0;
      padding: 0;
    }

    ul {
      margin: 0 0 40px;
      padding: 0;
      position: absolute;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 10%;

      li {
        list-style: none;
        margin: 0 0 40px;

        .slide {
          position: absolute;
          top: 0;
          left: 0;
          transition: transform 0.7s;
          transform: rotateY(90deg);
          transform-origin: left;

          img {
            position: absolute;
            width: 40vw;
            height: 35vw;
            object-fit: cover;
            top: 0;
            left: 0;
            border-radius: 20px;
          }

          .content {
            position: relative;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .content-item {
              width: 35vw;
              height: 40vh;
              margin-left: 10%;
              padding: 10px;
              background: rgba(255, 255, 255, 0.5);
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              border-radius: 30px;
              h2 {
                height: auto;
                font-size: 1.5em;
                color: #000;
              }
              p {
                height: auto;
                font-size: 100%;
                color: #000;
              }
            }
          }
        }

        input[type='radio']:checked ~ .slide {
          transition: transform 0.7s;
          transform: rotateY(0deg);
          transform-origin: right;

          img {
            animation: animate 40s linear infinite;

            @keyframes animate {
              0% {
                transform: scale(1);
              }
              50% {
                transform: scale(1.2);
              }
              100% {
                transform: scale(1);
              }
            }
          }
        }

        .form-radio {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          display: inline-block;
          position: relative;
          background-color: #5f5d5d;
          color: #666;
          top: 10px;
          border: 0;
          border-radius: 50px;
          cursor: pointer;
          margin-right: 7px;
          outline: none;

          :after {
            filter: blur(40px);
          }
          :hover {
            background-color: #f7f7f7;
          }
          :checked {
            background-color: #f1f1f1;
          }
        }

        input[type='radio'] {
          position: relative;
          z-index: 1000;

          height: 35px;
          width: 35px;
          opacity: 1;
          left: 50%;
          top: 70%;
        }

        input[type='radio']:hover {
          background: linear-gradient(45deg, #ff0048, #fff);
        }
        input[type='radio']:checked {
          background: linear-gradient(45deg, #ff0048, #fff);
        }
      }
    }
  }
}

.content4 {
  display: flex;
  background-image: url('../../../../assets/img/cityleaks/cityleaks03.jpg');
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-size: 2em;
  justify-content: center;

  p {
    z-index: 1;
    background: transparent;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: auto;
    font-size: 4em;
    font-weight: 900;
    font-stretch: ultra-condensed;
    background: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a {
    height: 50px;
    width: 250px;
    z-index: 1;
    color: white;
    border: solid 1px white;
    text-align: center;
    background: transparent;
    cursor: pointer;
    border-radius: 10px;

    i {
      color: #fff;
    }
  }
  a:hover {
    background: #fff;
    color: #000;

    i {
      color: #000;
    }
  }
}

.content5 {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .content-item {
    height: 60vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;

    a {
      position: relative;
      transform: translate(-0%, -0%);
      // width: 51vw;
      // height: 61vh;
      text-align: center;
      text-decoration: none;
      color: #000;
      box-sizing: border-box;
      background-size: 400%;
      border-radius: 40px;
      z-index: 0.9;
      margin-top: 2%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .content-a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;

      background: #fff;
      z-index: 1;
      border-radius: 30px;
      h2 {
        height: auto;
        color: #000;
      }

      p {
        font-size: 90%;
        height: auto;
        color: #000;
      }
    }

    a:hover {
      animation: animate 8s linear infinite;

      .content-a {
        background: #fff;
        h2 {
          color: #000;
        }

        p {
          color: #000;
        }
      }
    }

    @keyframes animate {
      0% {
        background-position: 0%;
      }
      100% {
        background-position: 400%;
      }
    }

    a:before {
      content: '';
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      z-index: -1;
      background: linear-gradient(90deg, #5bf403, #c141f4, #ffeb3b, #03a9f4);
      background-size: 400%;
      border-radius: 30px;
      transition: 0.5s;
      opacity: 0;
    }

    a:hover:before {
      opacity: 1;
      filter: blur(20px);
      transition: 0.5s;
      animation: animate 8s linear infinite;
    }
  }
}

.content6 {
  background-image: url('../../../../assets/img/nww/nww08.jpg');
  background-attachment: scroll;
  background-size: cover;
}

.footer-home {
  display: flex;
  flex-direction: column;
  .footer-top {
    height: 40vh;
    width: 100vw;
    background-image: url('../../../../assets/img/nww/nww03.jpg');
    background-attachment: fixed;
    background-size: cover;
  }
  .footer-content {
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    font-size: 0.9em;
    opacity: 0.7;
  }
}
