<div id="bg1" class="content-nww paralax">
  <video
    id="bgVideo"
    src="../../../../assets/videos/video01.mp4"
    muted
    autoplay
    loop
  ></video>
  <p>
    NWW
  </p>
  <a href="#">
    saiba mais
    <i class="fa fa-arrow-right"></i>
  </a>
</div>
<div class="content-fise">
  <p>
    FISE AREA
  </p>
  <a href="#">
    saiba mais
    <i class="fa fa-arrow-right"></i>
  </a>
</div>
<div class="content-stroke paralax" appParallax [opacity]="true">
  <div class="box-left">
    <h2>Stroke</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum ex libero
      adipisci, vel esse similique voluptatum consequuntur qui repudiandae dolor
      debitis molestiae assumenda magni itaque accusamus atque aut laudantium
      maiores?
    </p>
    <div class="btn-know-more">
      <a href="#">
        saiba mais
        <i class="fa fa-arrow-right"></i>
      </a>
    </div>
  </div>
  <div class="box-right">
    <div class="container">
      <ul>
        <li>
          <input type="radio" class="form-radio" name="slide" checked />
          <div class="slide">
            <img src="../../../assets/img/stroke/stroke01.jpg" alt="" />
            <div class="content">
              <div class="content-item"></div>
            </div>
          </div>
        </li>

        <li>
          <input type="radio" class="form-radio" name="slide" />
          <div class="slide">
            <img src="../../../assets/img/stroke/stroke03.jpg" alt="" />
            <div class="content">
              <div class="content-item"></div>
            </div>
          </div>
        </li>

        <li>
          <input type="radio" class="form-radio" name="slide" />
          <div class="slide">
            <img src="../../../assets/img/stroke/stroke04.jpg" alt="" />
            <div class="content">
              <div class="content-item"></div>
            </div>
          </div>
        </li>

        <li>
          <input type="radio" class="form-radio" name="slide" />
          <div class="slide">
            <img src="../../../assets/img/stroke/stroke06.jpg" alt="" />

            <div class="content">
              <div class="content-item"></div>
            </div>
          </div>
        </li>

        <li>
          <input type="radio" class="form-radio" name="slide" />
          <div class="slide">
            <img src="../../../assets/img/stroke/stroke07.jpg" alt="" />

            <div class="content">
              <div class="content-item"></div>
            </div>
          </div>
        </li>

        <li>
          <input id="radio-one" type="radio" class="form-radio" name="slide" />
          <div class="slide">
            <img src="../../../assets/img/stroke/stroke08.jpg" alt="" />

            <div class="content">
              <div class="content-item"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="content-cityleaks paralax">
  <p>
    CITYLEAKS ARTFAIR
  </p>
  <a href="#">
    saiba mais
    <i class="fa fa-arrow-right"></i>
  </a>
</div>
<div class="content-storror" appParallax [ratio]="6.2">
  <p>
    STORROR
  </p>
  <a href="#">
    saiba mais
    <i class="fa fa-arrow-right"></i>
  </a>
</div>
<div class="content-google-arts">
  <div class="container">
    <p>Novidades</p>
    <div class="row">
      <a
        href="https://unsplash.it/1200/768.jpg?image=251"
        data-toggle="lightbox"
        data-gallery="gallery"
        class="col-md-3"
      >
        <img
          src="https://unsplash.it/600.jpg?image=251"
          class="img-fluid rounded"
        />
      </a>
      <a
        href="https://unsplash.it/1200/768.jpg?image=252"
        data-toggle="lightbox"
        data-gallery="gallery"
        class="col-md-3"
      >
        <img
          src="https://unsplash.it/600.jpg?image=252"
          class="img-fluid rounded"
        />
      </a>
      <a
        href="https://unsplash.it/1200/768.jpg?image=253"
        data-toggle="lightbox"
        data-gallery="gallery"
        class="col-md-3"
      >
        <img
          src="https://unsplash.it/600.jpg?image=253"
          class="img-fluid rounded"
        />
      </a>
      <a
        href="https://unsplash.it/1200/768.jpg?image=253"
        data-toggle="lightbox"
        data-gallery="gallery"
        class="col-md-3"
      >
        <img
          src="https://unsplash.it/600.jpg?image=253"
          class="img-fluid rounded"
        />
      </a>
    </div>
    <div class="row">
      <a
        href="https://unsplash.it/1200/768.jpg?image=254"
        data-toggle="lightbox"
        data-gallery="gallery"
        class="col-md-3"
      >
        <img
          src="https://unsplash.it/600.jpg?image=254"
          class="img-fluid rounded"
        />
      </a>
      <a
        href="https://unsplash.it/1200/768.jpg?image=255"
        data-toggle="lightbox"
        data-gallery="gallery"
        class="col-md-3"
      >
        <img
          src="https://unsplash.it/600.jpg?image=255"
          class="img-fluid rounded"
        />
      </a>
      <a
        href="https://unsplash.it/1200/768.jpg?image=256"
        data-toggle="lightbox"
        data-gallery="gallery"
        class="col-md-3"
      >
        <img
          src="https://unsplash.it/600.jpg?image=256"
          class="img-fluid rounded"
        />
      </a>
      <a
        href="https://unsplash.it/1200/768.jpg?image=256"
        data-toggle="lightbox"
        data-gallery="gallery"
        class="col-md-3"
      >
        <img
          src="https://unsplash.it/600.jpg?image=256"
          class="img-fluid rounded"
        />
      </a>
    </div>
  </div>
</div>

<div class="footer-home">
  <div class="footer-top"></div>
  <div class="footer-content">
    sprayart@gmail.com
  </div>
</div>
<div appParallax [ratio]="0" class="btn-buy">
  <span class="icon"><i class="fa fa-shopping-cart"></i></span>
</div>
