// * {
//   margin: 0;
//   padding: 0;
//   text-decoration: none;
// }

.container-menu {
  justify-content: space-between;
  width: 100vw;
  box-sizing: content-box;
  display: inline-flex;
  background: #fff;
}
.navbar-expand-lg {
  width: 100vw;
}

::ng-deep {
  .navbar-nav li:hover > ul.dropdown-menu {
    display: block;
    width: auto;
    background: radial-gradient(black, transparent);
    font-weight: bold;
    li:hover {
      .dropdown-item:hover {
        background: #fff;
        color: #000;
      }
    }
  }

  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
  }
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-submenu {
  position: relative;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
}

.dropdown-item {
  display: flex;
  flex-direction: row;
  color: #fff;
}
.title {
  display: flex;
  margin-right: auto;
}
.logo {
  cursor: pointer;

  .icon {
    display: block;
    height: 7vh;
    background: black;
    color: white;
    text-decoration: none;
    padding-left: 20px;
  }
  :hover {
    background: rgba($color: #000, $alpha: 0.7);
  }
}
