<div
  id="bg1"
  class="content1 paralax"
  appParallax
  [ratio]="-0.5"
  [opacity]="true"
>
  <p>Spray Arts</p>
</div>
<div class="content2">
  <div class="card">
    <div class="box-card">
      <div class="percent">
        <svg>
          <circle cx="70" cy="70" r="70"></circle>
          <circle cx="70" cy="70" r="70"></circle>
        </svg>
        <div class="number">
          <h2>90 <span>%</span></h2>
        </div>
      </div>
      <h2 class="text">North West Walls</h2>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="percent">
        <svg>
          <circle cx="70" cy="70" r="70"></circle>
          <circle cx="70" cy="70" r="70"></circle>
        </svg>
        <div class="number">
          <h2>70 <span>%</span></h2>
        </div>
      </div>
      <h2 class="text">STROKE</h2>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="percent">
        <svg>
          <circle cx="70" cy="70" r="70"></circle>
          <circle cx="70" cy="70" r="70"></circle>
        </svg>
        <div class="number">
          <h2>86 <span>%</span></h2>
        </div>
      </div>
      <h2 class="text">CITLIX</h2>
    </div>
  </div>
</div>
<div class="content3" appParallax [opacity]="true"></div>
<div class="content4"></div>
<div class="content5"></div>
<div appParallax [ratio]="-0.2" id="square"></div>
