<header class="container-menu">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Spray Art</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="basic-addon1"
          />
        </div>
      </form>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="http://example.com"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Festivais
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">NOVIDADES</a></li>
            <li><a class="dropdown-item" href="#">DESTINO</a></li>
            <li><a class="dropdown-item" href="#">DESTAQUE</a></li>
            <li><a class="dropdown-item" href="#">GÊNERO</a></li>
            <li><a class="dropdown-item" href="#">ARTISTAS</a></li>
            <li><a class="dropdown-item" href="#">EXPERIÊNCIAS</a></li>
            <li><a class="dropdown-item" href="#">INSPIRAÇÃO</a></li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="http://google.com"
                >VIAGENS</a
              >
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">INICIO</a></li>
                <li><a class="dropdown-item" href="#">COLEÇÕES</a></li>

                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"
                    >Submenu 1</a
                  >
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Subsubmenu1</a></li>
                    <li><a class="dropdown-item" href="#">Subsubmenu1</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"
                    >Submenu 2</a
                  >
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Subsubmenu2</a></li>
                    <li><a class="dropdown-item" href="#">Subsubmenu2</a></li>
                  </ul>
                </li> -->
              </ul>
            </li>
            <li>
              <a class="dropdown-item" href="#">PRÓXIMOS FESTIVAIS</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="http://example.com"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Produtos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li
              list-group-item
              d-flex
              flex-row
              justify-content-between
              align-items-center
            >
              <a class="dropdown-item" href="#">
                <span class="title">NWW</span>
                <span class="icon"><i class="fa fa-shopping-cart"></i></span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <span class="title">FISE AREA</span>
                <span class="icon"><i class="fa fa-shopping-cart"></i></span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <span class="title">STROKE ART FAIR</span>
                <span class="icon  ml-2"
                  ><i class="fa fa-shopping-cart"></i
                ></span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <span class="title">CITYLEAKS</span>
                <span class="icon"><i class="fa fa-shopping-cart"></i></span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <span class="title">STORROR</span>
                <span class="icon"><i class="fa fa-shopping-cart"></i></span>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Serviços</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="http://example.com"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Gramáticas Urbanas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li
              list-group-item
              d-flex
              flex-row
              justify-content-between
              align-items-center
            >
              <a class="dropdown-item" href="#">
                <span class="title">ARTES</span>
                <span class="icon"><i class="fa fa-pencil"></i></span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <span class="title">MUSICAS</span>
                <span class="icon"><i class="fa fa-music"></i></span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <span class="title">ESPORTES</span>
                <span class="icon"><i class="fa fa-soccer-ball-o"></i></span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <span class="title">DANÇA</span>
                <span class="icon"><i class="fa fa-user"></i></span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <span class="title">ESTILO DE VIDA </span>
                <span class="icon ml-2"><i class="fa fa-glass"></i></span>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quem somos</a>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
          Iniciar sessão
        </button>
      </form>
    </div>
  </nav>
  <!-- <div class="menu">
    <button data-activates="menu-mobile" class="menu-toggle button-collapse">
      <i class="fa fa-bars"></i>
    </button>
    <ul class="hide-on-med-and-down">
      <li><a [routerLink]="['/home']"> HOME </a></li>
      <li><a href="#"> ABOUT US</a></li>
      <li><a href="#"> URBAN CULTURE</a></li>
      <li><a href="#"> EVENTS</a></li>
      <li><a href="#"> CONTACT</a></li>
    </ul>
    <ul class="side-nav" id="menu-mobile">
      <li><a href="#"> HOME </a></li>
      <li><a href="#"> ABOUT US</a></li>
      <li><a href="#"> URBAN CULTURE</a></li>
      <li><a href="#"> EVENTS</a></li>
      <li><a href="#"> CONTACT</a></li>
    </ul>
  </div>
  <aside class="autenticacao">
    <a class="login botao destaque" [routerLink]="['/login']">Login</a>
    <a href="#" class="botao destaque">Register</a>
  </aside> -->
</header>
