<header class="container-menu">
  <div class="menu">
    <button data-activates="menu-mobile" class="menu-toggle button-collapse">
      <i class="fa fa-bars"></i>
    </button>
    <ul class="hide-on-med-and-down">
      <li><a [routerLink]="['/home']"> HOME </a></li>
      <li><a href="#"> ABOUT US</a></li>
      <li><a href="#"> URBAN CULTURE</a></li>
      <li><a href="#"> EVENTS</a></li>
      <li><a href="#"> CONTACT</a></li>
    </ul>
    <ul class="side-nav" id="menu-mobile">
      <li><a href="#"> HOME </a></li>
      <li><a href="#"> ABOUT US</a></li>
      <li><a href="#"> URBAN CULTURE</a></li>
      <li><a href="#"> EVENTS</a></li>
      <li><a href="#"> CONTACT</a></li>
    </ul>
  </div>
  <aside class="autenticacao">
    <a class="login botao destaque" [routerLink]="['/login']">Login</a>
    <a href="#" class="botao destaque">Register</a>
  </aside>
</header>
